.login-form_agile {
    margin: 50% 8% 8%;
    padding: 2em 0;
}

.login-form_agile p {
    text-align: center;
}

input {
    margin-bottom: 10px;
    text-align: center;
}

input[type="submit"] {
    text-transform: capitalize !important;
}

input[type="submit"]:hover {
    background: #DFB835 !important;
}

body {
    background: #DFB835;
    background-image: url("../images/background.jpg");
}

.awesomplete {
    display: block;
}
